/* Wrapper pour positionner la liste par rapport à la barre */
.search-bar-wrapper {
  position: relative; /* Indispensable pour le position absolute des enfants */
  width: 100%;
}

.search-bar-container {
  display: flex;
  box-shadow: 10 1px 6px rgba(32,33,36,.28);  /* Ombre portée 'Google style' */
  border-radius: 24px; /* Arrondi complet */
  background: white;
  transition: box-shadow 0.3s;
  z-index: 10;
  position: relative;
  overflow: hidden;
}

.search-bar-container:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,.40);
}

.search-bar-container:focus-within {
  box-shadow: 0 5px 15px hwb(23 1% 17% / 0.5);
}

/* Si les suggestions sont ouvertes, on change l'arrondi du bas */
.search-bar-wrapper:has(.suggestions-dropdown) .search-bar-container {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 5px 15px hwb(23 1% 17% / 0.5);

}

.search-input {
  flex-grow: 1;  /* L'input prend toute la place disponible */
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;  /* Enlève le contour bleu par défaut */
  border-radius: 24px 0 0 24px;
}

.search-button {
  background-color: #fbbc05;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  border-radius: 0 24px 24px 0;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #c88f00;
}

/* --- SUGGESTIONS DROPDOWN --- */
.suggestions-dropdown {
  position: absolute;
  top: 100%; /* Juste sous la barre */
  left: 0;
  right: 0;
  background: white;
  border-top: 1px solid #eee;
  border-radius: 0 0 24px 24px; /* Arrondi en bas seulement */
  box-shadow: 0 4px 6px rgba(32,33,36,.28);
  z-index: 5;
  padding-bottom: 10px;
  overflow: hidden;
}

.group-title {
  font-size: 0.75rem;
  color: #1967d2; /* Bleu Google */
  padding: 10px 20px 5px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f8f9fa;
}

.separator {
  height: 1px;
  background-color: #eee;
  margin: 5px 0;
}

.suggestion-item {
  padding: 8px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #202124;
}

.suggestion-item:hover {
  background-color: #eee;
}

.suggestion-item.selected {
  background-color: #eee; 
  border-left: 4px solid #fbbc05;
}
.thumb-mini {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
