.search-bar-container {
  display: flex;
  box-shadow: 0 1px 6px rgba(32,33,36,.28); /* Ombre portée Google style */
  border-radius: 24px;
  overflow: hidden; /* Pour que le bouton suive l'arrondi */
  background: white;
  transition: box-shadow 0.3s;
}

.search-bar-container:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,.40);
}

.search-input {
  flex-grow: 1; /* L'input prend toute la place disponible */
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none; /* Enlève le contour bleu par défaut */
}

.search-button {
  background-color: #fbbc05; /* Orange MiamMiam */
  border: none;
  padding: 0 20px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition: background-color 0.2s;
}

.search-button:hover {
  background-color: #e6ac00;
}